<div class="container mx-auto" style="margin-top:100px;">
    <form method="post" action="/">
        <div class="info-wrap">
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Full Name" />
            </div>
        </div>

        <hr>
        <div class="info-wrap">

            <div class="form-group">
                <label for="jobPosition">Job Position</label>
                <input type="text" class="form-control" name="jobPosition" placeholder="Job Position" />
            </div>
        </div>
        <hr>
        <div class="info-wrap">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" />
            </div>
        </div>
        <hr>
        <div class="info-wrap">
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number" />
            </div>
        </div>
        <hr>
        <div class="info-wrap">
            <div class="form-group">
                <label for="profile">Profile Description</label>
                <input type="text" class="form-control" name="profile" placeholder="Profile Discription" />
            </div>
        </div>
        <hr>
        <div class="info-wrap">
            <div class="form-group" id="skill">
                <label>skill</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="skillsTitle" placeholder="Skill Title" />
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="skillsdescription"
                            placeholder="Skill Description" />
                    </div>
                </div>
                <button class="btn btn-info">+</button>

            </div>
        </div>
        <hr>
        <div class="info-wrap">

            <div class="form-group" id="skill">
                <label>Technical Skill</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="technicalSkill" placeholder="Technical Skill" />
                        <button class="btn btn-info">+</button>

                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="info-wrap">
            <div class="form-group" id="experience">
                <label>Experience</label>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" name="company" placeholder="Company" />
                    </div>
                    <div class="row">
                        <div class="form-group col-md-2">
                            <label>From</label>
                            <input type="text" name="from" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label>To</label>
                            <input type="text" name="to" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <label>Positon</label>
                        <input type="text" class="form-control" name="positon" placeholder="Positon" />
                    </div>
                    <div class="col">
                        <label>Job Description</label>
                        <input type="text" class="form-control" name="jobDescription" placeholder="Job Description" />
                    </div>
                </div>
                <button class="btn btn-info">+</button>

            </div>
        </div>
        <hr>
        <div class="info-wrap">
            <div class="form-group" id="education">
                <label>Education</label>
                <div class="row">
                    <div class="row">
                        <input type="text" class="form-control" name="university" placeholder="University or School" />
                    </div>

                    <div class="row">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address" placeholder="address" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    <label>GPA</label>
                    <input type="text" name="gpa" class="form-control">
                </div>
            </div>
            <button class="btn btn-info">+</button>
        </div>
        <div class="text-center" style="padding-bottom:100px;">
            <button class="btn btn-warning" type="submit">Create CV</button>


    </form>
</div>
<!-- </div> -->